@charset "UTF-8";
.eslogan {
  margin-top: 6rem;
  background-color: white;
  color: black;
  border: thin solid;
  box-shadow: 0px 0px 10px green;
  width: 60vw;
  align-content: center;
  margin-left: 20%;
}
.eslogan p {
  font-size: 1.5rem;
  border: thin solid black;
  background-color: black;
  box-shadow: 0px 0px 7px 7px;
  margin-top: 20%;
}

@media (min-width: 320px) and (max-width: 992px) {
  .index {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .eslogan {
    width: 70vw;
    font-size: 1.2rem;
    margin: 20% auto;
  }
}
.box-recipe {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 50px;
  column-gap: 10px;
  row-gap: 10px;
}
.box-recipe .card-img img {
  width: 16rem;
  height: 15rem;
  box-shadow: 0px 0px 8px rgb(206, 206, 206);
}
.box-recipe .card-img img .card-img p {
  color: #777;
  font-size: 1.1em;
}

.r320-576,
.r577-992,
.r993-1024,
.r1025 {
  display: none;
}

.mision {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.mision .text {
  width: 40rem;
  font-size: 1rem;
  background: white;
  box-shadow: 0px 0px 10px green;
  margin-top: 2.5rem;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  left: 7%;
}
.mision .img-container {
  display: flex;
  justify-items: flex-end;
  width: 40rem;
  height: 30rem;
}
.mision .img-container img {
  width: 40rem;
  position: absolute;
  right: 7%;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article .options, article .estres {
  display: flex;
  color: white;
  flex-flow: column;
  width: 20%;
  margin: 20px 50px;
}
article .options h2, article .estres h2 {
  font-size: 1.5rem;
}
article .options a, article .estres a {
  text-decoration: none;
  color: rgb(12, 12, 152);
  font-weight: bold;
}
article .options a:hover, article .estres a:hover {
  color: white;
}

#comer-sano, #sientase-bien {
  width: 95vw;
  height: 200px;
  margin-top: 6rem;
  background-color: white;
  color: black;
  border: thin solid;
  box-shadow: 0px 0px 10px green;
  margin-left: 2%;
  font-size: 2rem;
  text-align: center;
}
#comer-sano p, #sientase-bien p {
  font-size: 1.2rem;
}

.receta, .receta-2 {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 50px;
}
.receta h3, .receta-2 h3 {
  font-size: 1.5rem;
  color: white;
  padding-top: 10px;
}
.receta .imagen img, .receta-2 .imagen img {
  width: 550px;
  height: 350px;
}
.receta ul li, .receta-2 ul li {
  color: white;
  list-style-type: none;
  align-content: center;
}
.receta ul li::before, .receta-2 ul li::before {
  content: "✓  ";
  font-size: 1.2rem;
  color: white;
}

#sientase-bien {
  padding-top: 2rem;
}

.estres {
  margin-top: 7rem;
}

@media (min-width: 320px) and (max-width: 576px) {
  .mision {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mision .text {
    width: 90vw;
    height: 10rem;
    margin: 0 auto;
    position: static;
  }
  .mision .text p {
    font-size: 0.5rem;
  }
  .mision .text .mision-principal {
    font-size: 1rem;
  }
  .mision .text .mision-secundario {
    display: none;
  }
  .mision .img-container {
    width: 1vw;
    height: 19rem;
  }
  .mision .img-container img {
    width: 90vw;
    height: 10rem;
    margin-top: 1rem;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  article .options, article .estres {
    width: 90vw;
    margin: 15px 0;
    font-size: 1rem;
    margin-left: 3rem;
  }
  article .options h2, article .estres h2 {
    font-size: 1.5rem;
  }
  #comer-sano, #sientase-bien {
    width: 90vw;
    height: 8rem;
    padding: 1rem;
    margin: 1rem auto;
  }
  #comer-sano h2, #sientase-bien h2 {
    font-size: 1.2rem;
    padding: 0%;
  }
  #comer-sano p, #sientase-bien p {
    font-size: 0.55rem;
    text-align: justify;
  }
  .receta, .receta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .receta .imagen img, .receta-2 .imagen img {
    width: 90vw;
    height: 170px;
    margin-left: 1.5rem;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .mision {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mision .text {
    width: 50rem;
    height: 18rem;
    margin: 0 auto;
    position: static;
  }
  .mision .text p {
    font-size: 1rem;
  }
  .mision .img-container {
    width: 1vw;
    height: 19rem;
  }
  .mision .img-container img {
    width: 45rem;
    height: 17rem;
    margin-top: 1rem;
    margin-left: 3%;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  article .options, article .estres {
    width: 50%;
    font-size: 1rem;
  }
  article .options h2, article .estres h2 {
    font-size: 1.5rem;
  }
  #comer-sano, #sientase-bien {
    width: 95vw;
    height: 12rem;
    padding: 1rem;
  }
  #comer-sano h2, #sientase-bien h2 {
    font-size: 1.2rem;
    padding: 0%;
  }
  #comer-sano p, #sientase-bien p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .receta, .receta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px;
  }
  .receta .imagen img, .receta-2 .imagen img {
    width: 35rem;
    height: 9rempx;
    margin-left: 35px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  article .options, article .estres {
    width: 30%;
    margin: 15px 0;
    font-size: 1rem;
  }
  article .options h2, article .estres h2 {
    font-size: 1.5rem;
  }
  #comer-sano, #sientase-bien {
    width: 95vw;
    height: 10rem;
    margin-left: 0%;
  }
  #comer-sano h2, #sientase-bien h2 {
    font-size: 1.2rem;
    padding: 0%;
  }
  #comer-sano p, #sientase-bien p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .receta, .receta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .receta .imagen img, .receta-2 .imagen img {
    width: 250px;
    height: 170px;
    margin-left: 35px;
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.icon {
  position: fixed;
  left: 0;
  top: 55%;
  z-index: 1000;
}

.social ul {
  list-style-type: none;
  padding: 0%;
}

.social ul li a {
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-decoration: none;
  transition: padding 1s;
}

.social ul li a:hover {
  padding: 10px 30px;
}

.social ul li .icon-facebook {
  background: #3b5998;
}

.social ul li .icon-twitter {
  background: #00abf0;
}

.social ul li .icon-whatsapp {
  background: #43d854;
}

.social ul li .icon-instagram {
  background: #833ab4;
} /*CSS general*/
li a:hover {
  color: white !important;
}

.bg-gradient-blue-green {
  background-color: rgb(83, 184, 152);
  background-image: linear-gradient(135deg, rgba(47, 145, 224, 0.91), rgba(7, 31, 51, 0.8) 25%);
  background-image: linear-gradient(131deg, rgba(28, 118, 173, 0.92), rgb(83, 184, 153));
}

/*CSS para la portada*/
.index {
  background-image: url(../img/portada.jpg);
  background-size: cover;
}

.eslogan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.eslogan p {
  border: thin solid black;
  background-color: black;
  box-shadow: 0px 0px 7px 7px;
  padding-top: 15px;
}

.box-container {
  display: flex;
  margin-top: 50px;
}
.box-container .box-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 35px;
  text-align: justify;
}
.box-container .box-item .title {
  font-size: 1.5rem;
}
.box-container .box-item .text {
  color: white;
}
.box-container .box-item .imagen-deporte {
  width: 320px;
  height: 300px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.section {
  display: flex;
  justify-content: center;
}
.section .card {
  display: flex;
  flex-flow: row wrap;
}
.section .card .card-body {
  width: 15.5rem;
}
.section .card .card-body a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.section .card .card-body img {
  width: 30px;
  height: 30px;
}

.caja-contenedora {
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja-contenedora form {
  border: 1px solid white;
  width: 550px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 1.2rem;
}
.caja-contenedora form label {
  display: block;
}
.caja-contenedora form .form-1 {
  margin-top: 0.5rem;
  padding-left: 16%;
}
.caja-contenedora form div input,
.caja-contenedora form select,
.caja-contenedora form textarea {
  width: 15rem;
  background-color: rgb(244, 238, 238);
}
.caja-contenedora form .boton {
  background-color: gainsboro;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*CSS para las pages*/
.titulo {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: auto;
  padding: 20px 0px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-index {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 700px) {
  footer {
    display: flex;
    width: 100%;
  }
  .box-recipe {
    grid-template-columns: 300px;
    row-gap: 2rem;
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .box-itm {
    display: flex;
    flex-direction: column;
  }
  .box-itm .imagen-deporte {
    width: 320px;
    height: 200px;
  }
  .box-itm .box-item:nth-child(even) {
    order: 1;
    margin: 0% auto;
  }
  .card-img img {
    width: 10rem;
    height: 10rem;
  }
  li a {
    padding-left: 10px;
    transition: ease-in-out 1s;
  }
  li a:hover {
    background-color: gray;
  }
  .media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .media a:hover {
    background-color: gray;
  }
  .media a {
    transition: ease-in-out 0.5s;
  }
  .section {
    flex-direction: column;
    justify-content: center;
  }
  .section .card-body {
    width: 6rem;
  }
  .caja-contenedora {
    width: 100vw;
  }
  .caja-contenedora form {
    width: 22rem;
  }
  .caja-contenedora form input,
  .caja-contenedora form select,
  .caja-contenedora form textarea {
    width: 8rem;
    background-color: rgb(244, 238, 238);
  }
  .social {
    display: none;
  }
  .redes-sociales {
    width: 25px !important;
    height: 25px !important;
    margin: 0% 5px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .box-recipe {
    grid-template-columns: 300px 300px;
    row-gap: 2rem;
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .box-item:nth-child(even) {
    order: 2;
  }
  .redes-sociales {
    display: none;
  }
}
@media (min-width: 1024px) {
  .box-recipe {
    grid-template-columns: repeat(3, 300px);
    row-gap: 2rem;
  }
  .redes-sociales {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
