h1 {
  width: 100vw;
  color: white;
  text-shadow: 5px 5px 0px black;
  margin-top: 10%;
}

@media (min-width: 320px) and (max-width: 992px) {
  .index {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .eslogan {
    font-size: $list;
    margin: 20% auto;
  }
}
