@import "variables";
@import "inicio";
@import "deporte";
@import "galeria";
@import "mision";
@import "contacto";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.icon {
  position: fixed;
  left: 0;

  top: 55%;
  z-index: 1000;
}

.social ul {
  list-style-type: none;
  padding: 0%;
}

.social ul li a {
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-decoration: none;
  transition: padding 1s;
}
.social ul li a:hover {
  padding: 10px 30px;
}
.social ul li .icon-facebook {
  background: #3b5998;
}
.social ul li .icon-twitter {
  background: #00abf0;
}
.social ul li .icon-whatsapp {
  background: #43d854;
}
.social ul li .icon-instagram {
  background: #833ab4;
} /*CSS general*/
li a:hover {
  color: white !important;
}
.bg-gradient-blue-green {
  background-color: rgba(83, 184, 152, 1);
  background-image: linear-gradient(
    135deg,
    rgba(47, 145, 224, 0.91),
    rgba(7, 31, 51, 0.8) 25%
  );
  background-image: linear-gradient(
    131deg,
    rgba(28, 118, 173, 0.92),
    rgba(83, 184, 153, 1)
  );
}

/*CSS para la portada*/
.index {
  background-image: url(../img/portada.jpg);
  background-size: cover;
}
.eslogan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  p {
    border: thin solid black;
    background-color: black;
    box-shadow: 0px 0px 7px 7px;
    padding-top: 15px;
  }
}
//Deporte//

.titulo {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: auto;
  padding: 20px 0px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer-index {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 700px) {
  //Media queries para el footer//
  footer {
    display: flex;
    width: 100%;
  }
  //Media queries para Galeria//
  .box-recipe {
    grid-template-columns: 300px;
    row-gap: 2rem;
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box-item {
    display: flex;
    flex-direction: column;

    .imagen-deporte {
      min-width: 90vw;
      height: 20rem;
    }

    .box-item:nth-child(even) {
      order: 1;
    }
  }

  .card-img img {
    width: 10rem;
    height: 10rem;
  }

  li a {
    padding-left: 10px;
    transition: ease-in-out 1s;
  }

  li a:hover {
    background-color: gray;
  }

  .media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .media a:hover {
    background-color: gray;
  }
  .media a {
    transition: ease-in-out 0.5s;
  }

  .section {
    flex-direction: column;
    justify-content: center;

    .card-body {
      width: 6rem;
    }
  }
  //Media queries para Contacto//
  .caja-contenedora {
    width: 90vw;
    margin: 0 auto;
    form {
      width: 22rem;
      input,
      select,
      textarea {
        &::placeholder {
          color: white;
        }

        input:not([type="submit"]):focus,
        select:focus,
        textarea:focus {
          border-bottom: 2px solid rgba(255, 255, 0, 0.722);
        }
        input:not([type="submit"]),
        select,
        textarea {
          width: 100vw;
          margin: 4rem 3rem;
          display: block;
          border: 0px;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0);
          border-bottom: 1px solid white;
          outline: none;
          color: white;
          &::placeholder {
            color: white;
          }
        }
      }
      select:hover,
      .boton:hover {
        background-color: transparent;
        color: #367f9c;
      }
    }
  }

  //Media queries generales//

  .social {
    display: none;
  }

  .redes-sociales {
    width: 25px !important;
    height: 25px !important;
    margin: 0% 5px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .box-recipe {
    grid-template-columns: 300px 300px;
    row-gap: 2rem;
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .box-item:nth-child(even) {
    order: 2;
  }
  .redes-sociales {
    display: none;
  }
}

@media (min-width: 1024px) {
  .box-recipe {
    grid-template-columns: repeat(3, 300px);
    row-gap: 2rem;
  }
  .redes-sociales {
    display: none;
  }
}
